

#alert-main {
    margin: 0 auto;
    width: 100%;
}

.contanier {
    max-width: 750px;
    margin: 0 auto;
}

.contanier .p-3 #title__mb-3 {
    margin-bottom: 10px !important
}

.note-item {
    text-decoration: line-through;
}

.btnNote {
    display: grid;
}

#edit, #delete {
    padding: 0px;
    margin: 6px;
}


